@page
@using ColinCook.VisitWorkflow.AggregateRoots.Works.Queries
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Control</h1>
    <p class="lead">Those within Control ensure that Operatives are assigned Work.</p>
</div>

@if (Model.AssignWorkQuery == null)
{
    <div class="py-3 text-center">
        <h2>There is no Work to assign</h2>
        <p class="lead">Once Work has been raised by Response, it will appear here.</p>
    </div>
}
else if (!Model.AssignWorkQuery.Operatives.Any())
{
    <div class="py-3 text-center">
        <h2>No available Operatives found</h2>
        <p class="lead">There is Work to assign, but nobody to assign it to. Hire some operatives!</p>
    </div>
}
else
{
    <div class="py-3 text-center">
        <h2>Next up to Assign</h2>
    </div>

    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <h3>@Model.AssignWorkQuery.Work.Title</h3>
            @foreach (var site in @Model.AssignWorkQuery.Sites)
            {
                <h5 class="mb-1">@site.SiteModel.AddressLine1, @site.SiteModel.PostCode</h5>
            }
            <small>@Model.AssignWorkQuery.Work.WorkId</small>
        </div>
    </div>

    <div class="list-group py-4">
        @foreach (var operative in Model.AssignWorkQuery.Operatives)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col">
                        <h5>@operative.OperativeModel.Forename @operative.OperativeModel.Surname</h5>
                    </div>
                    @*<div class="col">
                        One
                    </div>
                    <div class="col">
                        Two
                    </div>*@
                    <div class="col-1">
                        <form method="post">
                            <input type="hidden" name="workId" value="@Model.AssignWorkQuery.Work.WorkId"/>
                            <input type="hidden" name="operativeId" value="@operative.OperativeModel.OperativeId"/>
                            <input type="submit" class="btn btn-primary" value="Assign"/>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}