@page
@model ColinCook.RazorPages.Areas.Operatives.Pages.OperativeModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">@Model.QueryResult.Operative.Forename @Model.QueryResult.Operative.Surname</h1>
    <p class="lead">Operative</p>
</div>

@if (Model.QueryResult.Work == null)
{
    <div class="py-3 text-center">
        <h2>@Model.QueryResult.Operative.Forename has no work assigned</h2>
        <p class="lead">Contact Control to arrange more Work.</p>
    </div>
}
else
{
    <div class="py-3 text-center">
        <h1>Current Work</h1>
    </div>

    <div class="py-2">
        <h2>@Model.QueryResult.Work.Title</h2>
        <p class="lead">@Model.QueryResult.Work.Description</p>
    </div>

    <div class="list-group">
        @foreach (var site in Model.QueryResult.Sites)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-1">@site.AddressLine1</h5>
                <p class="mb-1">@site.Town, @site.PostCode</p>
                <p class="mb-1">@site.TelephoneNumber</p>
                <small>@site.SiteId</small>
            </div>
        }
    </div>

    <form method="post">
        <input type="hidden" asp-for="WorkId"/>
        <input type="hidden" asp-for="OperativeId"/>
        <div class="row py-5">
            <div class="col-md-6">
                <button asp-page-handler="Abandon" class="btn btn-primary btn-block btn-danger" type="submit">Abandon Work</button>
                <p class="text-center">This Work item will be returned to Control for reassignment.</p>
            </div>
            <div class="col-md-6">
                <button asp-page-handler="Complete" class="btn btn-primary btn-block btn-success" type="submit">Work Complete</button>
                <p class="text-center">Work will be marked as Completed.</p>
            </div>
        </div>
    </form>
}